.button {
    background-color: inherit;
    border: solid 1px #ffffff;
    color: white;
    width: max-content;
    padding: 1.25em 5em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all .3s ease-in-out 0s;
    white-space: nowrap;
    line-height: 1;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: all .3s ease 0s;
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .main-button {
        font-size: 15px;
        padding: 12px 18px;
        margin-right: 0px;
    }
}

@media (max-width: 320px) {
    .main-button {
        font-size: 12px;
    }
}