.home-page {
    height: 100%;
}

.home-main {
    display: flex;
    margin: 0 auto;
}

/* .home-main > * {
    flex: 1;
    margin: 0px 15rem;
} */

.intro {
    font-size: 2.25rem;
    /* color: #98a6ad; */
    color: rgb(251 191 36);
    line-height: 1.25;
    font-weight: bold;
    font-family: "Montserrat",sans-serif;
}

.intro-small {
    font-size: 20px;
    font-family: 'Alegreya', serif;
    color:  rgb(203 213 225);
    line-height: 40px;
    font-weight: 200;
}

.intro-buttons {
    display: flex;
    margin-top: 20px;
}

.home-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    /* border: 2px solid red; */
}

#my-name {
    font-size: 1.75rem;
    font-weight: 600;
    color: #f8f8f8;
    margin: 20px 0 10px 0;
}

#job-title {
    margin: 0;
    color: rgb(203 213 225);
    font-weight: 200;
}

#job-place {
    margin: 10px auto;
    color: #795548;
}

.home-image > img {
    max-width: 40%;
    /* height: auto; */
    /* background-color: #ffffff; */
    /* padding-right: 10px; */
    border-radius: 50%;

}

@media (max-width: 768px) {
    .intro-buttons {
        justify-content: space-around;
    }

    .intro {
        font-size: 30px;
        text-align: center;
    }

    .intro-small {
        font-size: 16px;
        line-height: normal;
        text-align: center;
    }

    .home-main {
        display: block;
        /* margin: 3rem 5rem; */
    }

    .home-image > img {
        max-width: 50%;
        /* height: auto; */
        /* background-color: #ffffff; */
        /* padding-right: 10px; */
        /* border-radius: 50%; */
        
    }
}
