.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
    position: relative;
    /* border: 1px solid red; */
}



.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

/* .picture-image {
    max-width: 100%;
    border-radius: 10px;
    animation: picImage;
} */

.name {
    font-size: 2.25rem;
    line-height: 1.125;
    font-weight: 600;
    color: #f8f8f8;
    margin-bottom: 0.5rem;
}

.job-title {
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FDC82F;
    font-size: 0.75rem;
}

.job-place {
    margin: 10px auto;
    color: #795548;
}

.hr {
    background-color: #ff470f;
    border: none;
    content: "";
    height: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transform-origin: center left;
    width: 4rem;
}

@keyframes picImage {
    from {
        opacity: 0;
        transform: scale(1.2) translate(-1rem);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@media screen and (max-width: 799px) {
    .intro {
        font-size: 30px;
        text-align: center;
    }

    .home-main {
        display: block;
    }

    /* .picture-image {
        max-width: 50%;
    } */

    .home-page {
        margin: 1rem 1rem;
    }

    .about {
        align-items: flex-start;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .home-page {
        margin: 1rem 1rem;
    }
}

