 .social {
     display: flex;
     position: fixed;
     bottom: 2rem;
     justify-content: space-between;
     width: 100%;
     color: #9e9e9e;
     z-index: 2;
 }

 .social li {
     list-style-type: none;
 }

 .social .items {
     display: flex;
     margin: 0 10px;
 }

 .social .items a {
     width: 30px;
     cursor: pointer;
 }

 .social .email,
 .social .items {
     padding: 0 30px;
 }


 @media (max-width: 768px) {
     .social {
         display: none;
         z-index: 0;
     }
 }