.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-link {
    font-size: 30px;
}

.linkedin {
    color: #0077B5;
    background-color: #0e76a8;
}

.github {
    color: #0b0c10;
    background-color: #333;
}