.home-page {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.intro {
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
}

.intro-small {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.svg-logo {
    height: 200px;
}

.home-image {
    width: 500px;
    height: 300px;
}