.skills-container {
    width: 100%;
}

.skills {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.skills .overview {
    max-width: 40rem;
}

.skills .icons {
    max-width: 20rem;
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.software-skill-inline {
    width: 5rem;
    margin-right: 20px;
}

.software-skill-inline img {
    width: 5rem;
}