.skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.skills .overview {
    width: 40%;
}

.skills .icons {
    width: 40%;
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.software-skill-inline {
    width: 3rem;
    height: 3rem;
    margin-right: 20px;
}

.software-skill-inline img {
    width: 3rem;
}

.strengths {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


@media screen and (max-width: 1199px) {
    .skills {
        flex-direction: column;
    }

    .skills .overview,
    .skills .icons {
        width: 100%;
    }

    .software-skill-inline {
        width: 2rem;
        height: 2rem;
        margin-right: 20px;
    }

    .software-skill-inline img {
        width: 2rem;
    }

    .strengths {
        flex-direction: column;
    }
}