body {
  margin: 0;
  font-family: 'Montserrat','Open Sans', sans-serif, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(30 41 51);
  /* background: url('./assets/images/coding.jpg') no-repeat center fixed;
  background-size: cover; */
}

