body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','Open Sans', sans-serif, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  line-height: 1.5;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.home-section {
  background-color: black;
  padding: 110px 0 110px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.home-section:first-of-type {
  padding-top: 50px;
}

.home-section:nth-of-type(even) {
  background-color: rgb(5,5,5);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.full-width {
  width: 100%;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5em;
}

.exp-pill {
    text-align: center;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.exp-fill {
  background-color: #FDC82F;
}

.border {
  border: 1px solid #dee2e6 !important;
}

h1 {
  color:#FDC82F;
}

@media (min-width: 276px) {
  .container {
    max-width: 240px;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 340px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
}
}

@media screen and (max-width: 768px) {
  .home-section:first-of-type {
    padding-top: 40px;
  }

  .home-section {
    padding: 60px 0 60px 0;
  }
}

